<p id="message-<%= message.id %>">
  <%= message.content %>
  <%= link_to '更新', edit_message_path(message), data: { remote: true } %>
  <%= link_to "削除", message_path(message), method: :delete, data: { confirm: "本当に削除しますか?", remote: true}  %>
</p>
